MODEL_PROVIDER=OpenAI

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o

OPENAI_COMPATIBLE_BASE_URL=
OPENAI_COMPATIBLE_API_KEY=
OPENAI_COMPATIBLE_MODEL=meta-llama/Llama-3.1-8B-Instruct

ENABLE_OLLAMA=true
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=llama3.2

GUARDRAIL_HOSTNAME=https://www.us1.calypsoai.app
GUARDRAIL_API_KEY=
